@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');


/* Global css */
:root {
    --dim-grey: #707070;
    --background-dark: #1c1c1c;
    --copy-bright: #f8eed8;
    --primary-color: #eb7636;
    --bg-secondary-soft: #303a48;
    --grid-teaser-bg-1: #272727;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: "Manrope", sans-serif;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    margin-bottom: 100px;
}

.global-padding {
   padding: 0 2em;
}



/* nav bar styls*/

.nav-wrapper-inside {
    min-height: 15vw; 
    width: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.nav-items-wrapper__left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-items-wrapper__right{
    color: var(--dim-grey);
}

.nav-items-wrapper__right a {
    text-decoration:underline;
}

.nav-button-wrapper {
    border: 1px solid var(--dim-grey);
    padding: .6em 1em ;
    border-radius: 15px;
    letter-spacing: .05em;
    transition: padding 0.2s ease;
}

.nav-button-wrapper:first-child {
    background-color: black;
    color: white;
}

.nav-button-wrapper:hover {
    padding: .6em 3em ;
    transition: padding .3s ease ;
}

/* Head styles */

.blog-head-inner {
    width: 100%;
}

/* journal banner*/
.blod-head-text-wrapper {
    padding-top: 3em;
    padding-bottom: 1em;
    display: flex;
    justify-content: left;
}

.blod-head-text-wrapper span{
    font-size: 3.3em;
    font-family:  "Cormorant", serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* animated journal */
.static {
    transform: perspective(0) translateZ(0);
    opacity: 1;
    animation: none;
}
/*
.animated:nth-child(2){animation-delay: 0.1s;}
.animated:nth-child(3){animation-delay: 0.2s;}
.animated:nth-child(4){animation-delay: 0.3s;}
.animated:nth-child(5){animation-delay: 0.4s;}
.animated:nth-child(6){animation-delay: 0.5s;}
.animated:nth-child(7){animation-delay: 0.6s;}


.animated {
	opacity: 0;
	transform: perspective(200px) translateZ(-100px);
	animation: ballDrop .3s forwards;
}

@keyframes ballDrop {
    from {
        transform: perspective(200px) translateZ(0);
        opacity: 0;
    }
    to {
        transform: perspective(200px) translateZ(-100px);
        opacity: 1;
    } 
}
*/

/* divider */
.blog-header__divider-line {
    width: 100%;
    height: 1px;
    opacity: 1;
    background-color: black;
}


/* blog post main grid */

.blog-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

/* blog post outlines */
.blog-post-item-wrapper,
.blog-quote-item-wrapper,
.blog-announce-item-wrapper,
.blog-contact-item-wrapper{
    border: 1px solid black;
    border-top: none;
}

.blog-post-item-wrapper {
    padding: 5em 1.5em 1.5em 1.5em;
}

.blog-post-header-wrapper {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-post-categories-wrapper {
    text-transform: uppercase;
}

.image-stricter{
    display: block;
    max-width: 100%;
    height: auto; 
    padding: 1em 0;
}

.blog-text__title {
    font-size: 1.4em;
    font-weight: 700;
}
.blog-text__desc{
    font-size: 1.3em;
}


/* quation style */

.quote-item-wrapper {
    text-align: center;
    padding: 4em 1.5em;
    font-weight: 200;
    font-family:"Cormorant", serif;
    letter-spacing: 1;
}

.blog-quote__text.John_Maeda{
    font-size: 1.8em;
    text-transform: uppercase;
}
.blog-quote__author {
    font-family: "Manrope", sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    color: black;
    font-weight: 500;
}


/* announce style */
.announce-image__background {
    background: linear-gradient(90deg, rgba(174, 163, 140, 1) 0%,
     rgba(217, 203, 169, 1) 50%, 
     rgba(242, 232, 213, 1) 100%);;
}

.announce-item-wrapper {
    padding: 2em 1em;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.ann__title, .ann__desc {
    text-shadow: 0 0 1px rgb(107, 107, 107);
}
.ann__title {
    font-size: 2em;
}
.ann__desc {
    font-size: 2.7em;
}

.course__btn{
    font-size: 1.3em;
    color: white;
    background-color: rgb(59, 59, 59);
    padding: .7em 1.2em;
    border-radius: 30px;
    font-weight: 500;
}


/* contact style */

.contact-item-wrapper {
    padding: 5em 0;
}

.blog-contact-listitem-wrapper{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-weight: 100;
}

/* author decelration  */

.blog-author-Decelration-wrapper{
    padding: 5em 0;
    background: rgb(242, 226, 190);
    text-align: center;
    line-height: 1.5;
}

.author-Decelration__title , .blog-tuto-head__text{
    font-size: 3.8em;
    font-weight: 500;
}

.author-Decelration__desc{
    font-size: 1.5em;
}


/* tutorial videos style */
.blog-tuto-wrapper, .blog-tuto-vide-wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blog-tuto-wrapper {
    width: 100%;
    justify-content: space-between;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
}

.blog-video-desc {
    color: var(--dim-grey);
    font-size: 1.3em;
}

.blog-tuto-vide-wrapper{
    margin-top: 3em;
    gap:1em;
}

/* footer style */

/* main section */
.blog-footer-wrapper {
    margin-bottom: 0;
    background-color: var(--background-dark);
    padding: 5em 0 15em 0;
    
}

/* main grid to take the list of whole items */
.blog-footer-list-wrapper__main-grid{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: var(--copy-bright);
}

.blog-footer-listitem-wrapper{
    padding: 3em 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-secondary-soft) ;
}

.blog-footer-listitem-wrapper:last-child{
    border-bottom: none;
}

/* profile image styles */
.blog-footer-profil-wrapper {
    position: relative;
    margin-bottom: 1em;
}

.flag__image {
    width: 10%;
    position: absolute;
    top: 5%;
    left: 32%;
}

.profile__image{
    display: block;
    margin: auto;
    width: 30vw;
    border-radius: 50%;
    border: 1px solid black;
}


.blog-footer-profile-desc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 1.3;
}

.blog-footer-profile-desc__title{
    font-size: 2.5em;
}

.blog-footer-prof-desc__text, .github__link{
    font-size: 1.4em;
}

.github__link{
    display: block;
    margin: auto;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color) ;
}


.blog-footer-media-wrapper{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;  
}

.blog-footer-media-wrapper__box{
    background-color: var(--grid-teaser-bg-1);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
}

.media-logo {
    width: 20%;
    border-radius: 50%;
}
.icon_desc{
    font-size: 1.2em;
}
.blog-footer-icons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5em;
    color: rgb(209, 208, 208);
    margin: auto;
}